.title{
    padding: 8%;
    padding-bottom: 8%;
    padding-left: 18%;
    background-color: hsl(47, 100%, 77%);
}
.expo{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    margin-left: 20%;
    margin-right: 10%;
    box-shadow: -1px 1px 10px 1px rgb(212, 212, 212);
}
h3{
    display: inline;
}
.drive{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    margin-left: 20%;
    margin-right: 10%;
    box-shadow: -1px 1px 10px 1px rgb(212, 212, 212);
}
.visit{
    padding: 1.5%;
    margin-right: 80%;
    background-color: hsl(47, 100%, 77%);
}
.grey{
    color: rgb(87, 87, 87);
}
